@use 'config'as *;
//导出
@forward 'config';
@forward 'function';

@mixin b($block) {
    $B: $namespace + '-'+ $block !global;

    // 插槽
    .#{$B} {
        @content;
    }
}

// &--primay  ==>   r-button-primary
@mixin m($modifier) {
    $selector: &;
    $currentSelector: '';

    @each $unit in $modifier {
        $currentSelector: #{$currentSelector + $selector+$modifier-separator+$unit+','};
    }
    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}